repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: maven-compile
        name: Maven Compile
        entry: ./mvnw compile -q
        language: system
        files: \.(java|xml)$
        pass_filenames: false

      - id: maven-test
        name: Maven Test
        entry: ./mvnw test -q
        language: system
        files: \.(java|xml)$
        pass_filenames: false
